#headerScreen6 {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-width: 0;
}

#toolBarScreen6 {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-style: none;
}

#buttonHeaderScreen6 {
    --background: transparent;
    --color: #000;
    box-shadow: none;
    text-transform: unset;
    --box-shadow: none;
    size: 10rem;
}

#iconHeader {}

#backScreen6 {
    /* position: relative; */
    /* display: flex; */
    /* padding-top: var(--ion-safe-area-top); */
    /* align-items: center; */
    /* justify-content: center;
    flex-direction: column; */
    /* margin: 0; */
    height: 25%;
    background: center / cover url("../../../public/assets/img7.jpg") no-repeat;
    /* filter: blur(10px); */
}

.textButtonScreen6 {
    font-size: 1rem;
}

#textShipping {
    color: #000;
    text-align: left;
    font-size: 3rem;
}

#divtextShipping {
    margin-top: 2.5rem;
    width: 100%;
}

.text2Screen6 {
    margin-top: 0rem;
    margin-left: 0;
    color: #FFF;
    text-align: left;
    font-size: 1.5rem;
}

.IonButtonScreen6 {
    margin-top: 0.1rem;
    text-transform: unset;
}

#itemScreen6 {
    --background: transparent;
    --border-style: none;
    color: #fff;
    /* align-items: unset; */
    /* box-sizing: initial; */
}

#item2Shipping {
    --background: transparent;
    --border-style: none;
    color: #fff;
    /* align-items: flex-start; */
    /* box-sizing: initial; */
}

#labelShipping {
    color: #fff;
    border-color: #FFF;
    padding: 0;
    margin: 0;
}

#label2Shipping {
    color: #fff;
    border-color: #FFF;
    font-size: 1.5vh;
    padding: 0;
    margin: 0;
}

#inputTextShipping {
    color: #000;
    border-color: #000;
    border-bottom: 1px solid #000;
}

.ion-text-center {
    --background: transparent;
}

#cardBackground {
    /* position: relative;
    display: flex;
    padding-top: var(--ion-safe-area-top);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0; */
    margin: 10%;
    width: 40%;
    height: 40%;
    background: center / cover url("../../../public/assets/imgCard1.jpg") no-repeat;
    /* filter: blur(10px); */
}

#divPrecio {
    padding: 0.7rem;
    color: #FFF;
    margin-top: -2.8rem;
    font-size: 0.9rem;
}

#divTitle {
    padding: 1rem;
    color: #FFF;
    margin-top: -2.5rem;
    font-size: 0.8rem;
}


/* #icon {
    font-size: 1.5rem;
} */

#iconHeart {
    font-size: 1.5rem;
}

#op {
    padding: 0;
    padding-inline-start: 0;
    --inner-border-width: 0;
    --border-color: #FFF;
}

#fab {
    --background-activated: red;
    /* --ion-item-background-activated: red; */
    --background-activated-opacity: green;
}

#iconHeart2 {
    color: #CCC;
    --background-activated: red;
    /* --ion-item-background-activated: red; */
    --background-activated-opacity: green;
}

#divSlideContent {
    padding: 1rem;
    width: 100%;
    height: 65%;
}

#slide {
    overflow: inherit;
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#slideContent {
    padding: 0.2rem;
}

#img {
    border-radius: 30px;
}

#butonAddCart {
    margin-top: 2rem;
    text-transform: none;
    text-transform: inherit;
}

#btnUPIShippingAddress {
    margin-top: 0.2rem;
    text-transform: none;
    text-transform: inherit;
}

#btnPayNowShippingAddress {
    margin-top: 2.5rem;
    text-transform: none;
    text-transform: inherit;
}

#target {
    height: 14rem;
    width: 20rem;
    background: #000;
    border-radius: 20px;
}

#textTarget {
    padding: 1.2rem;
    color: #FFF;
    padding-top: 15px;
}

#textTarget2 {
    color: #FFF;
    padding-top: 0;
}

#itemImg {
    background: #000;
    --ion-color-base: #000;
    --background-activated: #000;
}

#imgChip {
    height: 3rem;
    width: 4rem;
    background: #000;
    --background-activated: #000;
}

#fechaTarget {
    font-size: 1.1rem;
}

#inputTargetShipping {
    color: #FFF;
    border-color: #FFF;
    /* border-bottom: 1px solid #FFF; */
    font-size: 1.5rem;
}

#numbertarjet {
    margin: 0;
    padding: 0;
}

#codeTarget {
    font-size: 0.7rem;
    color: #FFF;
    padding: 0;
    margin: 0;
}

#IonText {
    font-size: 1.8rem;
}

#iconMark {
    margin-top: 8rem;
    font-size: 6rem;
}