#headerForgetPassword {
    position: absolute;
    --background: transparent;
    --color: white;
}

#toolBarForgetPassword {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-style: none;
}

#buttonHeaderForgetPassword {
    --background: transparent;
    --color: #000;
    box-shadow: none;
    --box-shadow: none;
}

#backForgetPassword {
    position: relative;
    display: flex;
    padding-top: var(--ion-safe-area-top);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #FFF;
    /* background: center / cover url("../../../public/assets/img2.jpg") no-repeat; */
    /* filter: blur(-10px); */
}

.textButtonForgetPassword {
    font-size: 2vh;
}

.textForgetPassword {
    margin-top: 10rem;
    color: #000;
    text-align: left;
    font-size: 5.5vh;
}

.text2ForgetPassword {
    margin-top: 0%;
    margin-left: 0.5rem;
    color: #000;
    text-align: left;
    font-size: 5vh;
}

.text3ForgetPassword {
    margin-top: 0%;
    margin-left: 0.5rem;
    color: #000;
    text-align: left;
    font-size: 0.9rem;
}

.IonButtonForgetPassword {
    margin-top: 10%;
    text-transform: unset;
}

#itemForgetPassword {
    border: none;
    border-color: #000;
    --border-style: none;
    padding: 0;
    margin: 0;
}

#labelForgetPassword {
    color: #000;
    border-color: #000;
}

#inputTextForgetPassword {
    background: transparent;
    color: #000;
    border-color: #000;
    border-bottom: 1px solid #000;
}

.ion-text-center {
    margin: 2vh;
}

#textendForgetPassword {
    text-align: center;
    color: #000;
    font-size: 2vh;
}

#textEndForgetPassword b {
    margin-top: 1rem;
    color: #000;
    font-size: 1.3rem;
}