#headerScreen6 {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-width: 0;
}

#toolBarScreen6 {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-style: none;
}

#buttonHeaderScreen6 {
    --background: transparent;
    --color: #000;
    box-shadow: none;
    text-transform: unset;
    --box-shadow: none;
    size: 10rem;
}

#iconHeader {}

#backScreen6 {
    /* position: relative; */
    /* display: flex; */
    /* padding-top: var(--ion-safe-area-top); */
    /* align-items: center; */
    /* justify-content: center;
    flex-direction: column; */
    /* margin: 0; */
    height: 25%;
    background: center / cover url("../../../public/assets/img7.jpg") no-repeat;
    /* filter: blur(10px); */
}

.textButtonScreen6 {
    font-size: 1rem;
}

.textScreen6 {
    margin-top: 3.5rem;
    color: #FFF;
    text-align: left;
    font-size: 2rem;
}

#divtextScreen6 {
    width: 100%;
}

.text2Screen6 {
    margin-top: 0rem;
    margin-left: 0;
    color: #FFF;
    text-align: left;
    font-size: 1.5rem;
}

.IonButtonScreen6 {
    margin-top: 0.1rem;
    text-transform: unset;
}

#itemScreen6 {
    --background: transparent;
    --border-style: none;
    color: #fff;
    /* align-items: unset; */
    /* box-sizing: initial; */
}

#item2Screen6 {
    --background: transparent;
    --border-style: none;
    color: #fff;
    /* align-items: flex-start; */
    /* box-sizing: initial; */
}

#labelScreen6 {
    color: #fff;
    border-color: #FFF;
    padding: 0;
    margin: 0;
}

#label2Screen6 {
    color: #fff;
    border-color: #FFF;
    font-size: 1.5vh;
    padding: 0;
    margin: 0;
}

#inputTextScreen6 {
    color: #fff;
    border-color: #FFF;
    border-bottom: 1px solid #FFF;
}

.ion-text-center {
    --background: transparent;
}

#cardBackground {
    /* position: relative;
    display: flex;
    padding-top: var(--ion-safe-area-top);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0; */
    margin: 10%;
    width: 40%;
    height: 40%;
    background: center / cover url("../../../public/assets/imgCard1.jpg") no-repeat;
    /* filter: blur(10px); */
}

#divPrecio {
    padding: 0.7rem;
    color: #FFF;
    margin-top: -2.8rem;
    font-size: 0.9rem;
}

#divTitle {
    padding: 1rem;
    color: #FFF;
    margin-top: -2.5rem;
    font-size: 0.8rem;
}


/* #icon {
    font-size: 1.5rem;
} */

#iconHeart {
    font-size: 1.5rem;
}

#op {
    padding: 0;
    padding-inline-start: 0;
    --inner-border-width: 0;
    --border-color: #FFF;
}

#fab {
    --background-activated: red;
    /* --ion-item-background-activated: red; */
    --background-activated-opacity: green;
}

#iconHeart2 {
    color: #CCC;
    --background-activated: red;
    /* --ion-item-background-activated: red; */
    --background-activated-opacity: green;
}