#headerScreen4 {
    position: absolute;
    --background: transparent;
    --color: white;
}

#toolBarScreen4 {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-style: none;
}

#buttonHeaderScreen4 {
    --background: transparent;
    --color: #000;
    box-shadow: none;
    --box-shadow: none;
}

#backScreen4 {
    position: relative;
    display: flex;
    padding-top: var(--ion-safe-area-top);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #FFF;
    /* background: center / cover url("../../../public/assets/img2.jpg") no-repeat; */
    /* filter: blur(-10px); */
}

.textButtonScreen4 {
    font-size: 2vh;
}

.textScreen4 {
    margin-top: 15rem;
    color: #000;
    text-align: left;
    font-size: 5.5vh;
}

.text2Screen4 {
    margin-top: 0%;
    margin-left: 1.5vh;
    color: #000;
    text-align: left;
    font-size: 3vh;
}

.text2Screen4 {
    margin-top: 0%;
    margin-left: 1.5vh;
    color: #000;
    text-align: left;
    font-size: 3vh;
}

.IonButtonScreen4 {
    margin-top: 10%;
    text-transform: unset;
}

#itemScreen4 {
    border: none;
    border-color: #FFF;
    --border-style: none;
    padding: 0;
    margin: 0;
}

#labelScreen4 {
    color: #fff;
    border-color: #000;
}

#inputTextScreen4 {
    color: #000;
    border-color: #000;
    border-bottom: 1.2px solid #000;
}

.ion-text-center {
    margin: 2vh;
}

#textendScreen4 {
    text-align: center;
    color: #000;
    font-size: 2vh;
}

#textendScreen4 b {
    color: rgb(52, 24, 212);
}