#headerScreen2 {
    position: absolute;
    --background: transparent;
    --color: white;
}

#toolBarScreen2 {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-style: none;
}

#buttonHeaderScreen2 {
    --background: transparent;
    --color: white;
    box-shadow: none;
    --box-shadow: none;
}

#backScreen2 {
    position: relative;
    display: flex;
    padding-top: var(--ion-safe-area-top);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: center / cover url("../../../public/assets/img2.jpg") no-repeat;
    /* filter: blur(-10px); */
}

.textButtonScreen2 {
    font-size: 2vh;
}

.textScreen2 {
    margin-top: 160%;
    color: #fff;
    text-align: left;
    font-size: 5.5vh;
}

.text2Screen2 {
    margin-top: 0%;
    margin-left: 1.5vh;
    color: #fff;
    text-align: left;
    font-size: 3vh;
}

.IonButtonScreen2 {
    margin-top: 10%;
    text-transform: unset;
}