#headerScreen3 {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-width: 0;
}

#toolBarScreen3 {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-style: none;
}

#buttonHeaderScreen3 {
    --background: transparent;
    --color: white;
    box-shadow: none;
    text-transform: unset;
    --box-shadow: none;
}

#backScreen3 {
    /* position: relative; */
    /* display: flex; */
    /* padding-top: var(--ion-safe-area-top); */
    /* align-items: center; */
    /* justify-content: center;
    flex-direction: column; */
    /* margin: 0; */
    height: 100%;
    background: center / cover url("../../../public/assets/img4.jpg") no-repeat;
    /* filter: blur(10px); */
}

.textButtonScreen3 {
    font-size: 2vh;
}

.textScreen3 {
    margin-top: 90%;
    color: #fff;
    text-align: left;
    font-size: 6vh;
}

#divtext {
    width: 100%;
}

.text2Screen3 {
    margin-left: 1.5vh;
    color: #fff;
    text-align: left;
    font-size: 4vh;
}

.IonButtonScreen3 {
    margin-top: 5%;
    text-transform: unset;
}

#item {
    border: none;
    border-color: #FFF;
    --border-style: none;
}

#label {
    color: #fff;
    border-color: #FFF;
}

#inputText {
    color: #fff;
    border-color: #FFF;
    border-bottom: 1.2px solid #FFF;
}

#textend {
    text-align: center;
    color: #FFF;
    font-size: 2vh;
}