#backScreen1 {
    position: relative;
    display: flex;
    padding-top: var(--ion-safe-area-top);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: center / cover url("../../../public/assets/img1.jpg") no-repeat;
}

.textButton {
    font-size: 2vh;
}

.text1 {
    margin-top: 100%;
    color: #fff;
    text-align: left;
    font-size: 4vh;
}

.text2 {
    margin-top: 30%;
    color: #fff;
    text-align: left;
    font-size: 4vh;
}

.IonButton {
    margin-top: 120%;
    text-transform: unset;
}