#headerScreen5 {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-width: 0;
}

#toolBarScreen5 {
    position: absolute;
    --background: transparent;
    --color: white;
    --border-style: none;
}

#buttonHeaderScreen5 {
    --background: transparent;
    --color: white;
    box-shadow: none;
    text-transform: unset;
    --box-shadow: none;
}

#backScreen5 {
    /* position: relative; */
    /* display: flex; */
    /* padding-top: var(--ion-safe-area-top); */
    /* align-items: center; */
    /* justify-content: center;
    flex-direction: column; */
    /* margin: 0; */
    height: 100%;
    background: center / cover url("../../../public/assets/img6.jpg") no-repeat;
    /* filter: blur(10px); */
}

.textButtonScreen5 {
    font-size: 1rem;
}

.textScreen5 {
    margin-top: 13rem;
    color: #fff;
    text-align: left;
    font-size: 3.2rem;
}

#divtextScreen5 {
    width: 100%;
}

.text2Screen5 {
    margin-top: 2rem;
    margin-left: 1.5vh;
    color: #fff;
    text-align: left;
    font-size: 2.7rem;
}

.IonButtonScreen5 {
    margin-top: 0.1rem;
    text-transform: unset;
}

#itemScreen5 {
    --background: transparent;
    --border-style: none;
    color: #fff;
    /* align-items: unset; */
    /* box-sizing: initial; */
}

#item2Screen5 {
    --background: transparent;
    --border-style: none;
    color: #fff;
    /* align-items: flex-start; */
    /* box-sizing: initial; */
}

#labelScreen5 {
    color: #fff;
    border-color: #FFF;
    padding: 0;
    margin: 0;
}

#label2Screen5 {
    color: #fff;
    border-color: #FFF;
    font-size: 1.5vh;
    padding: 0;
    margin: 0;
}

#inputTextScreen5 {
    color: #fff;
    border-color: #FFF;
    border-bottom: 1px solid #FFF;
}

#textendScreen5 {
    padding: 0;
    text-align: center;
    color: #FFF;
    font-size: 1rem;
    --background: transparent;
}

#textForgotScreen5 {
    padding: 0vh;
    text-align: center;
    color: #FFF;
    font-size: 1rem;
    --background: transparent;
}

.ion-text-center {
    --background: transparent;
}

#checkBox {
    /* margin-top: 0; */
    background-color: transparent;
    --background: transparent;
    --padding-start: none;
    --border-color: #FFF;
    box-sizing: border-box;
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --padding-start: 0px;
    margin-inline-end: 8px;
    --size: 14px;
}

#checkBox:hover {
    /* margin-top: 0; */
    background-color: transparent;
    --background: transparent;
    --padding-start: none;
    --border-color: #FFF;
    box-sizing: border-box;
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --padding-start: 0px;
    margin-inline-end: 8px;
}